*:focus {
  /* We have our own outline that moves and animates nicely through JS */
  outline: none;
}

#highlighting-element {
  /* We do animation in JS */
  transition: none;
  position: fixed;
  z-index: 100000;
  box-sizing: border-box;
  box-shadow:
    /* Simulated outside line */
    2pt 2pt 0 0 lightblue,
    -2pt 2pt 0 0 lightblue,
    -2pt -2pt 0 0 lightblue,
    2pt -2pt 0 0 lightblue,
    /* Black shadow */
    0 0 15pt 0 black;
  pointer-events: none;
}